attrs==19.1.0
CacheControl==0.12.5
cachy==0.2.0
certifi==2019.9.11
chardet==3.0.4
cleo==0.6.8
Click==7.0
Flask==1.1.1
Flask-Admin==1.5.3
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.0.2
lockfile==0.12.2
MarkupSafe==1.1.1
msgpack==0.6.2
pastel==0.1.1
pipenv==2018.11.26
pkginfo==1.5.0.1
poetry==0.12.17
pylev==1.3.0
pyparsing==2.4.2
pyrsistent==0.14.11
redis==3.5.3
requests==2.22.0
requests-toolbelt==0.8.0
shellingham==1.3.1
six==1.12.0
structlog==20.2.0
tasktiger==0.11
tomlkit==0.5.5
urllib3==1.25.6
virtualenv==16.7.5
virtualenv-clone==0.5.3
webencodings==0.5.1
Werkzeug==0.16.0
WTForms==2.2.1
