version: 2

workflows:
  version: 2
  workflow:
    jobs:
      - test-2.7
      - test-3.6
      - test-3.7
      - test-3.8
      - black
      - lint
      - isort

defaults: &defaults
  working_directory: ~/code
  environment:
    # circleci exposes services on localhost
    REDIS_HOST: localhost
  steps:
  - checkout
  - run:
      name: Install dependencies
      command: pip install --user -r requirements.txt -r requirements-test.txt
  - run:
      name: Test
      command: pytest

jobs:
  black:
    working_directory: ~/code
    docker:
    - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install --user black
      - run:
          name: Check formatting
          command: black --check .

  lint:
    working_directory: ~/code
    docker:
    - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install --user flake8
      - run:
          name: Run linter
          command: flake8 .

  isort:
    working_directory: ~/code
    docker:
    - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install --user isort
      - run:
          name: Check import sorting
          command: isort -rc .

  test-2.7:
    <<: *defaults
    docker:
    - image: circleci/python:2.7
    - image: redis:4.0.6

  test-3.6:
    <<: *defaults
    docker:
    - image: circleci/python:3.6
    - image: redis:4.0.6

  test-3.7:
    <<: *defaults
    docker:
    - image: circleci/python:3.7
    - image: redis:4.0.6

  test-3.8:
    <<: *defaults
    docker:
    - image: circleci/python:3.8
    - image: redis:4.0.6

